.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Add this line */
  margin: auto auto; /* Add this line */
  // max-width: 1024px; /* Add this line */
}
.heading {
  text-align: center;
}

.cine {
  text-align: center;
}
.movie-heading {
  font-size: 36px;
  font-weight: bolder;

  color: #e7f0f3;
  margin-bottom: 20px;

  text-align: center; /* Add this line */
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  // height: 500px;
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-info {
  text-align: center;
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px; /* Add this line */
  cursor: pointer;
  width: 40px; /* Adjust the width as desired */
  color: #333; /* Adjust the color as desired */
}

.pagination button.active {
  background-color: #720e9e;
  color: #fff;
}
